<div class="header">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Payment and Disbursement</h6>

          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class="fas fa-file-invoice text-dark"> </i> </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-dark"> Payment Instructions </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<app-calendar></app-calendar>

<div class="container-fluid mt-2">
  <div class="card mb-4">
    <div class="card-header bg-secondary">
      <h3 class="mb-0"><i class="fas fa-search" aria-hidden="true"></i>&nbsp;Search</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Search name">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" id="ID" placeholder="Search ID">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" id="payment_id" placeholder="Search payment ID">
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col clearfix">
          <button type="button" class="btn btn-primary float-right">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row ">
    <div class="col text-right">
      <a class="btn btn-sm btn-neutral" (click)="openModal(createUser)">
        Create
      </a>
    </div>
  </div>
</div>

<div class="container-fluid mt-2">
  <div class="card">
    <div class=" table-responsive">
      <table class=" table align-items-center table-flush">
        <thead class=" thead-light">
          <tr>
            <th class=" sort" data-sort="name" scope="col">Name</th>

            <th class=" sort" data-sort="budget" scope="col">ID</th>

            <th class=" sort" data-sort="status" scope="col">Payment ID</th>

            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows">
            <th scope="row">{{row.name}}</th>
            <td>{{row.id}}</td>
            <td>{{row.payment_id}}</td>
            <td> <button class="btn btn-sm btn-primary" (click)="viewData(row)">View</button>
              <button class="btn btn-danger btn-sm btn-danger" (click)="deleteData(row)">Delete</button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #createUser>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      New Payment
    </h6>

    <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModal()">
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="registerForm">
      <div class="form-group">
        <label class="form-control-label">Name</label>
        <input class="form-control" placeholder="Enter name" formControlName="name" type="text">
      </div>
      <div class="form-group">
        <label class="form-control-label">ID</label>
        <input class="form-control" placeholder="Enter ID" formControlName="name" type="text">
      </div>
      <div class="form-group">
        <label class="form-control-label">Eligibility/Benefit(RM)</label>
        <input class="form-control" placeholder="Enter Eligibility/Benefit(RM)" formControlName="name" type="text">
      </div>
      <div class="form-group">
        <label class="form-control-label">
          Payment
        </label>
        <select class="custom-select form-control">
          <option selected>Select payment</option>
          <option>Monthly pension</option>
          <option>Pencen Terendah</option>
          <option>Bantuan Khas</option>
        </select>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" type="button" (click)="confirm()" [disabled]="!registerForm.valid">
      Create
    </button>

    <button class="btn btn-outline-danger ml-auto" data-dismiss="modal" type="button" (click)="closeModal()">
      Close
    </button>
  </div>
</ng-template>

<!-- The Modal -->
<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-default">
        <h4 class="modal-title text-white my-auto">Payment Details</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="input-form mb-2">
          <label class="form-control-label">
            Full name
          </label>
          <input class="form-control" style="border:none !important; border-bottom: 1px solid #6373839d !important;"
            placeholder={{name}} type="text" />
        </div>
        <div class="input-form mb-2">
          <label class="form-control-label">
            ID
          </label>
          <input class="form-control" style="border:none !important; border-bottom: 1px solid #6373839d !important;"
            placeholder={{id}} type="text" />
        </div>
        <div class="input-form mb-2">
          <label class="form-control-label">
            Payment ID
          </label>
          <input class="form-control" style="border:none !important; border-bottom: 1px solid #6373839d !important;"
            placeholder={{payment_id}} type="text" />
        </div>
      </div>

      <!-- Modal footer -->
      <div class="row-xl-12 modal-footer">
        <button class="btn btn-success" type="button" (click)="confirm()">
          Update
        </button>
        <button class="btn btn-outline-danger ml-auto" data-dismiss="modal" type="button" (click)="hide()">
          Close
        </button>
      </div>

    </div>
  </div>
</div>

<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>




