<!-- Form controls
<div class="card">
  <div class="card-header">
    <h3 class="mb-0">(A) MAKLUMAT MAJIKAN</h3>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label class="form-control-label" for="employer_num">No. majikan</label>
        <input type="email" class="form-control" id="employer_num" placeholder="contoh: 13456">
      </div>
      <div class="form-group">
        <label class="form-control-label" for="employer_name">Nama majikan</label>
        <input type="email" class="form-control" id="employer_name" placeholder="contoh: Muhd Ali Bin Abu">
      </div>
    </form>
  </div>
  <div class="card-header">
    <h3 class="mb-0">(B) MAKLUMAT AHLI</h3>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label class="form-control-label" for="id_num">No. kad pengenalan</label>
        <input type="email" class="form-control" id="id_num" placeholder="contoh: 13456">
      </div>
      <div class="form-group">
        <label class="form-control-label" for="name">Nama</label>
        <input type="email" class="form-control" id="name" placeholder="contoh: Muhd Ali Bin Abu">
      </div>

      <div class="form-group">
        <div class="row">
          <div class="column">
            <label class="form-control-label" for="exampleFormControlInput1">Jantina</label>
            <div class="custom-control custom-radio mb-3">
              <input name="custom-radio-1" class="custom-control-input" id="customRadio5" type="radio">
              <label class="custom-control-label" for="customRadio5">Lelaki</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="custom-radio-1" class="custom-control-input" id="customRadio6" checked="" type="radio">
              <label class="custom-control-label" for="customRadio6">Perempuan</label>
            </div>
          </div>
          <div class="column">
            
          </div>
        </div>
      </div>

    </form>
  </div>





  <div class="col-md-6">
    <label class="form-control-label" for="exampleFormControlInput1">Jantina</label>
    <div class="custom-control custom-radio mb-3">
      <input name="custom-radio-1" class="custom-control-input" id="customRadio5" type="radio">
      <label class="custom-control-label" for="customRadio5">Lelaki</label>
    </div>
    <div class="custom-control custom-radio mb-3">
      <input name="custom-radio-1" class="custom-control-input" id="customRadio6" checked="" type="radio">
      <label class="custom-control-label" for="customRadio6">Perempuan</label>
    </div>

  </div>


</div> -->